<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	 <session-factory>
		 <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		 <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		 <property name="hibernate.connection.username">circolo_sportivo</property>
		 <property name="hibernate.connection.password">circolo_sportivo</property>
		 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/circolo_sportivo</property>
		 <property name="show_sql">true</property>
		 <property name="format_sql">false</property>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Persona"/>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Socio"/>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Amministratore"/>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Attivita"/>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Corso"/>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Gara"/>
		 <mapping class="ing_software.circolosportivo_JavaFX_DB.Partecipazione"/>
	 </session-factory>
</hibernate-configuration>